<h1>Add New Card</h1>

<form class="card-new">
<label for="title">Card Title:</label>
<input class="title" type="text" name="card[title]">
<br>
<label for="description">Card Description:</label>
<input class="description" type="text" name="card[description]">
<br>
<button type="submit" class="addNewCard btn btn-primary">Create New Card</button>
</form>
