<div data-id="<%= card.id %>">
  <h4 id="title"><%= card.escape('title') %></h4>
  <p id="description"><%= card.escape('description') %></p>
  <button class="deleteButton invisible btn btn-danger">Delete</delete>
</div>
