<br>
<form id="form-new">

  <label for="title"> Create New Board: </label>
  <br>
  <input type="text" name="board[title]" value="">
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Create New Board</button>
</form>
