<form id="list-form">

  <input type="title" name="list[title]">

  <button type="submit" class="addList btn btn-success btn-lg">Add List</button>

  <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  Delete Board
  </button>
</form>
